.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top,#ff9956,#ffce59);
 
}
.selecao{
  background: silver;
  height: 60%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-y: auto; /* Habilita a rolagem horizontal quando necessário */
  white-space: nowrap;
  padding-left: 50px;
  padding-right:50px ;
}
.game{
  background: white;
  height: 800px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.placar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  

}
.vida{
  color: green;
  background-color: silver;

  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  margin-right: 10px;
}
.inimigo{
  color: rgb(236, 75, 12);
  background-color: silver;

  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  
}
.inimigo2{
  color: rgb(236, 75, 12);
  background-color: silver;

  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 5px solid rgb(82, 162, 182);
  
}
.kamyllyEspecial{
  color: rgb(236, 75, 12);
  background-color: silver;

  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 5px solid rgb(0, 0, 0);

}
.barra {
  width: 120px;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
}

.progresso {
  height: 100%;
  background-color: #007bff;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}
.monitor{
  background-color: gray;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bot{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 50px;
  width: 250px;
  background-color: red;
}
.bot2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 90px;
  width: 250px;
  background-color: red;
  font-size: 15px;
}
.botao{
  height: 30px;
  width: 60px;
  margin-right: 10px;
  border-radius: 10px;

  
}
.especial{
  height: 30px;
  width: 80px;
  margin-right: 10px;
  background-color: blue;
  border-radius: 10px;
}
.none{
  display: none;
}
.caixaSel{
  background: rgb(64, 217, 228);
  height: 300px;
  width: 250px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image{
  background: rgb(45, 233, 7);
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.b1{
  background: blue;
  height: 40px;
  width: 60px;
  margin-right: 10px;
}
.b2{
  background: blue;
  height: 40px;
  width: 60px;
  position: absolute;
	left: 15%;
	top:40%;
}
.b3{
  background: blue;
  height: 40px;
  width: 60px;
  position: absolute;
	left: 80%;
	top:40%;
}
.b4{
  background: blue;
  height: 40px;
  width: 60px;
  position: absolute;
	left: 35%;
	top:35%;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@media only screen and (max-width: 600px) {
  .selecao{
    background: silver;
    max-height: 100%;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto; /* Habilita a rolagem horizontal quando necessário */
    white-space: nowrap;
    padding-left: 0px;
    padding-top: 650px;
    
    margin-right: 0px;
 
    
  }
  .game{
    background: white;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
  }
}
